# --- Vivado Simulation Artifacts ---
xsim.dir/
.Xil/
*.log
*.jou
*.pb
*.str
*.backup.*
*.vrb
*.wdb
*.exe

# --- Compilation & Implementation ---
*.dcp
*.bit
*.ltx
*.gen/

# --- Vivado Project Directories ---
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/
FIFO/

# --- Python Artifacts ---
__pycache__/
*.pyc


# --- OS Junk ---
.DS_Store